h1 {
    color: brown;
    padding-left: 30px;
}
.header* {
    border:solid;
}
.header{
    background-color: #908081;
    display: flex;
    justify-content: space-between;
    font-size: larger;
    font-style: oblique;
    border:solid;
}
.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly;

}
.footer{
    display:flex;
    justify-content: flex-end;
}
p,h2{
  text-align: center;  
}
body{
    background-color: #50A050 ;
    
}
a:link{
    color:orangered;
}
a:visited{
    color:white;
}
.item{
    position:relative;
}

a:link{
    color: white;
}

a:visited{
    color: white;
}
.item{
    position:relative;
}
.item p{
    position:absolute;
    top:50%;
    scroll-margin-left: 50%;
    transform:translate(+50%,+50%);
    opacity: 0; 
}
.item:hover p{
    opacity: 1; 
}
.item:hover img{
    opacity:0.33;
}